.wrapper {
  background: #efecea;
}
.logoCol {
  background: white;
  padding-top: 30px;
}
.logoCol,
.hero,
h2 {
  font-family: "Nunito", sans-serif;
}

h2 {
  font-weight: 500px;
}
h3 {
  opacity: 70%;
}

.logo {
  padding-top: 17px;
}
.logoCol {
  padding-left: 100px;
  padding-right: 100px;
}

.logoImg {
  display: block;
}

.homeLogo {
  color: black;
}
.homeLogo:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
  opacity: 60%;
}
.navbarList {
  font-size: 18px;
}

.hero {
  text-align: center;
}

h3 {
  font-size: 24px !important;
}
