h1 {
  font-family: "Roboto Mono", monospace;
}
header {
  margin-top: 30px;
  margin-left: 30px;
}

.homeLogo {
  color: black;
}
.homeLogo:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
  opacity: 60%;
}
