.wrapper {
  background: #efecea;
}
.logoCol {
  background: white;
  padding-top: 30px;
}

.IllustrationTitles,
.logoCol,
.hero,
h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: 500px;
}

h3 {
  font-size: 24px !important;
  opacity: 70%;
  text-align: center;
}

.logo {
  padding-top: 17px;
}
.logoCol {
  padding-left: 100px;
  padding-right: 100px;
}

.logoImg {
  display: block;
}

.homeLogo {
  color: black;
}
.homeLogo:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
  opacity: 60%;
}
.navbarList {
  font-size: 18px;
}
.active {
  opacity: 100%;
}

.hero {
  text-align: center;
}
.github-project {
  font-family: "Nunito", sans-serif;
  opacity: 70%;
}

.portfolio-btn:hover {
  font-size: 20px;
  transition: 200ms ease-in-out;
}

.illustration:hover {
  cursor: pointer;
  width: 380px;
  transition: 300ms ease-in-out;
  border-style: solid;
  border-color: grey;
}

.IlusstrationGallery {
  margin-top: 75px;
  margin-bottom: 75px;
}
.IllustrationTitles {
  display: block;
  text-align: center;
  margin-top: 25px;
  color: black;
  text-decoration: none;
}
.IllustrationTitles:hover {
  color: black;
  opacity: 60%;
  text-decoration: none;
}

.aboutMe {
  line-height: 2;
  margin-top: 50px;
  margin-bottom: 50px;
}
.aboutMe h3 {
  text-align: left;
}
.aboutMe p {
  opacity: 70%;
}
#AboutMeTitle {
  text-align: left;
  font-size: 30px;
}

.aboutImage {
  border-radius: 6px;
}

.footer {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  opacity: 70%;
  justify-content: space-between;
}
.footer-mail {
  color: black;
}
.footer-mail:hover {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: 200ms ease-in-out;
}

.fab {
  color: black;
  opacity: 70%;
  font-size: 22px;
}
.fab:hover {
  font-size: 24px;
}
.work-title {
  margin-top: 300px;
  opacity: 70%;
}

#contact-title {
  font-size: 30px;
}

.contact-me {
  text-align: center;
  opacity: 70%;
}

@media (max-width: 1366px) {
  h1 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    line-height: 1.5;
  }
  .navbar-toggler {
    display: block;
    margin: 0 auto;
  }

  .illustration {
    width: 150px;
    display: block;
    margin: 0 auto;
  }

  .projectPicture {
    width: 300px;
  }

  #AboutMeTitle {
    text-align: center;
  }

  .aboutImage {
    display: block;
    margin: 0 auto;
  }
  .projectPicture {
    display: block;
    margin: 0 auto;
  }
  .contact-title {
    font-size: 18px;
  }
  .contact-me {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .projectPicture {
    width: 250px;
  }
  .about-content {
    text-align: center;
  }
  .aboutImage {
    width: 250px;
  }
}
